.body{
display: flex;
}

.main-container{
    display:flex;
    flex-direction: column;
    background-color: #1F2937;
}
.top-container{
display: flex;
flex-direction: column;
padding: 8px 30px 20px;
background-color: #1F2937;
flex:1;
padding-left:60px;
padding-right: 60px;
justify-content: center;

margin-left:auto;
margin-right:auto;
max-width:1200px;
}

.header{
display: flex;
margin-top:8px;

}

a,a:link, a:visited, .hero-main{
color: #F9FAF8;
text-decoration: none;
}

a:hover{
color:#3882F6;
}

.hero-main{
font-size: 48px;
font-weight: extra-bold;
margin-bottom: 18px;
}

.finer-text{
font-size: 18px;
color: #E5E7EB;
}

.sign-up{
background-color:#3882F6 ;
color: white;
border-radius: 8px;
font-size: 16px;
}

.hero-button{
width: 100px;
margin-top: 16px;
margin-bottom: 32px;
}

.cta-button{
width: 150px;
height: 50px;
font-size: 18px;
border: solid #E5E7EB;
margin-left: auto;
}

.header ul{
display: flex;
gap:50px;
list-style-type: none;
margin-top: 8px;
margin-left:auto;
}

h1{
padding: 0px;
margin: 0px;
font-size: 24px;
}
h1 a{
padding: 0px;
margin: 0px;
text-decoration: none;
}

.hero-container{
display: flex;
flex-direction: row;
flex:1 1 auto;
justify-content: center;
margin-top:64px;
}

.hero-main{
margin-top: 0px;
}

.hero-left{
margin-right: 32px;
}

.hero-right{
display:flex;
margin-left: auto;
padding-left: 50px;
}

.hero-right img{
    max-height: 400px;
    max-width: 400px;

}



.white-container{
display:flex;
flex-direction: column;
background-color: white;
align-items: center;
}

.white-container h2{
font-size: 36px;
font-weight: extra-bold;
color: #1F2937;
}

.img-cards{
display: flex;
gap: 18px;
}

.card img{
    max-height: 200px;
    max-width: 200px;
    border: #3882F6 solid;
    border-radius: 25px;
}

.info-text{
display: flex;
gap: 32px;
justify-content: space-around;
height:146.63px;
width:866px;
}

.info-text p{
display: flex ;
color: #1F2937;
flex: 1;
text-align: center;
}

.grey-break-container{
background-color:#E5E7EB ;
display: flex;
flex-direction: column;
height: 400px;
justify-content: center;
align-items: center;
}

.quote{
    display:flex;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 800px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
}
.quote-author{
font-size: 24px;
font-weight: bold;
margin-left: 500px;
margin-top: 0;
}

.cta{
display:flex;
background-color: #3882F6;
margin:64px;
padding:32px;
width:700px;
border-radius: 14px;
align-items: center;
padding:32px 64px;
}

.cta-top{
display:flex;
flex-direction: column;
}

.cta-header{
color: #E5E7EB;
margin:0px;
}

.footer{
background-color: #1F2937;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 75px;
}

.copyright{
display: flex;
font-size: 14px;
color: #F9FAF8;
font-weight: bold;
margin-top:60px;

}

.cta-button:hover{
    background-color: #F9FAF8;
    color: #3882F6;
}

.hero-button:hover{
    background-color: #F9FAF8;
    color: #3882F6;
}


